openapi: 3.1.0
info:
  title: VeriTrust External API
  version: 1.0.0
  description: Versioned scan API. Degraded results are explicitly marked and must not be used for high-assurance automation.
servers:
  - url: https://veritrustlab.in/api/v1
security:
  - bearerApiKey: []
paths:
  /usage:
    get:
      operationId: getUsage
      responses:
        '200': { description: Current key usage, content: { application/json: { schema: { $ref: '#/components/schemas/UsageResponse' } } } }
        '401': { $ref: '#/components/responses/Error' }
  /phishing:
    post:
      operationId: scanPhishing
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: false, required: [text], properties: { text: { type: string, minLength: 8, maxLength: 12000 }, model: { type: string, enum: [fast, robust, mailguard, cortex] } } } } }
      responses:
        '200': { description: Completed or explicitly degraded result, content: { application/json: { schema: { $ref: '#/components/schemas/ScanResponse' } } } }
        '409': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /link-check:
    post:
      operationId: scanLinks
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: false, properties: { url: { type: string, format: uri }, text: { type: string, maxLength: 12000 }, context: { type: string, maxLength: 12000 }, model: { type: string, enum: [fast, swift] } }, anyOf: [ { required: [url] }, { required: [text] } ] } } }
      responses:
        '200': { description: Per-request result with truthful inference mode, content: { application/json: { schema: { $ref: '#/components/schemas/ScanResponse' } } } }
        '409': { $ref: '#/components/responses/Error' }
  /deepfake:
    post:
      operationId: scanImage
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      requestBody:
        required: true
        content: { multipart/form-data: { schema: { type: object, additionalProperties: false, required: [image], properties: { image: { type: string, format: binary }, model: { type: string, enum: [fast, robust, pixel, prism] } } } } }
      responses:
        '200': { description: Completed image result, content: { application/json: { schema: { $ref: '#/components/schemas/ScanResponse' } } } }
        '413': { $ref: '#/components/responses/Error' }
        '415': { $ref: '#/components/responses/Error' }
components:
  securitySchemes:
    bearerApiKey: { type: http, scheme: bearer, bearerFormat: vtg_live_public_id_secret }
  parameters:
    IdempotencyKey: { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 128 } }
  responses:
    Error:
      description: Typed error. 429 and 503 responses include Retry-After when applicable.
      headers: { X-Request-ID: { schema: { type: string } }, Retry-After: { schema: { type: string } } }
      content: { application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } } }
  schemas:
    ErrorResponse: { type: object, required: [ok, request_id, error], properties: { ok: { const: false }, request_id: { type: string }, error: { type: object, required: [code, message], properties: { code: { type: string }, message: { type: string } } } } }
    ScanResponse: { type: object, required: [ok, request_id, scan_type, model, result], properties: { ok: { const: true }, request_id: { type: string }, scan_type: { enum: [deepfake, phishing, link] }, model: { type: object, properties: { key: { type: string }, name: { type: string }, fallback_used: { type: boolean }, degraded: { type: boolean }, inference_mode: { type: string }, fallback_reason: { type: [string, 'null'] } } }, result: { type: object }, usage: { type: object } } }
    UsageResponse: { type: object, required: [ok, request_id, usage], properties: { ok: { const: true }, request_id: { type: string }, usage: { type: object } } }

